@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap");
/* font-family: 'Roboto', sans-serif;
font-family: 'Rock Salt', cursive; */

body {
  background-color: #282c34;
  font-family: "Roboto", sans-serif;
}
